@model Users
@{ Layout = "_Layout"; ViewBag.Title = "Converter";}
<section>
    <div class="container">
        <div class=" bg-stack-overflow pace-panel "><h4>Edit</h4></div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="container">
            <form asp-action="ChangeUserInfo" method="post">
                <div class=" form-group w-50 p-0" hidden>
                    <label asp-for="Id">ID</label>
                    <input asp-for="Id" class=" form-control col-xs-3" readonly="readonly" />
                </div>
                <div class=" form-group w-50 p-0" hidden>
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control col-xs-3" readonly />
                </div>
                <div class=" form-group w-50 p-0" hidden>
                    <label asp-for="FirstName">First Name</label>
                    <input asp-for="FirstName" class="form-control col-xs-3" readonly />
                </div>
                <div class=" form-group w-50 p-0" hidden>
                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" class="form-control " readonly />
                </div>
                <div class=" form-group w-50 p-0">
                    <label asp-for="BaseCur">Base Currency</label>
                    <select asp-for="BaseCur" class="form-control">
                        <option>UAH</option>
                        <option>USD</option>
                        <option>EUR</option>
                    </select>
                </div>
                <div class=" form-group w-50 p-0">
                    <label asp-for="Password">Write your password to save the changes.</label>
                    <input asp-for="Password" type="password" class="form-control " required />
                </div>
                <button type="submit" class=" btn btn-primary">Save</button>
            </form>

            <div style="display:flex; justify-content:flex-end">
                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-dark ml-2">Cancel</a>
            </div>
        </div>
    </div>
</section>
<!-- Bootstrap core JavaScript -->
<script src="~/libTemp/vendor/jquery/jquery.min.js"></script>
<script src="~/libTemp/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="~/libTemp/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/libTemp/js/jqBootstrapValidation.js"></script>
<!-- Custom scripts for this template -->
<script src="~/libTemp/js/agency.js"></script>
